<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.attijarilite">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:hardwareAccelerated="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AttijariLITE"
        android:usesCleartextTraffic="true">
        <activity
            android:name=".views.BillActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".views.CardDetails"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".views.RefillActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".views.PaymentOrRefillActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".views.PaymentActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".views.TransferActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".views.AccountDetailsActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".views.AllCardsActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".views.AccountsPageActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".views.LoginPageActivity"
            android:exported="true"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".views.HomePageActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".views.MainActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
    </application>

</manifest>